.hide {
    display: none;
}

a:link {
    color: #1a8ece;
    text-decoration: none;
}

a:visited {
    color: #1a8ece;
}

a:hover {
    text-decoration: underline;
}

a.btn {
    display: inline-block;
    border-radius: 3px;
    padding: 0 8px;
    text-decoration: none;
}

a.btn-normal {
    background: #879aa0;
    color: #fff;
}

a.btn-normal:hover {
    background-color: #658088;
    cursor: pointer;
}

body {
    font-family: "Microsoft Yahei", simsun, sans-serif;
}

#wrapper {
    width: 750px;
    height: 600px;
    font-size: 12px;
    color: #333;
}

#artificial-service p s,
#input-content input.submit,
#output-content .server a.more s,
#output-content .server .content:after,
#output-content .client .content:after,
#commend-wrapper p span.value s,
#commend-wrapper input.smt,
#output-content .notify a.close {
    background-image: url(./img/sprites.png);
    background-repeat: no-repeat;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
    background: #e29777;
}

#main {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    right: 200px;
    background: #eeeeee;
}

/*输入框外围标签*/
#input-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #e1e1e1;
    width: 100%;
    height: 139px;
}

/*输入框*/
#input-content {
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: 1px;
    top: 1px;
    background: #fff;
}

#input-field {
    position: absolute;
    left: 7px;
    top: 7px;
    right: 7px;
    display: block;
    bottom: 40px;
}

#input-field textarea {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    resize: none;
    padding: 0;
    outline: none;
    z-index: 3;
}

#input-content p.tips {
    position: absolute;
    left: 6px;
    right: 7px;
    bottom: 6px;
    padding: 5px 0;
    margin: 0;
}

#input-content input.submit {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 130px;
    height: 30px;
    background-position: 0 0;
    background-color: #e89a36;
    border: none;
    font-family: "Microsoft Yahei", simsun, sans-serif;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
}

/*
    ---------------------------------------------
        输出框
    ---------------------------------------------
*/

#output-wrapper {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 146px;
    background: #e1e1e1;
}

#output-content {
    position: absolute;
    left: 1px;
    top: 0;
    right: 1px;
    bottom: 1px;
    background: #fff;
    overflow: auto;
}

#output-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

#output-content .server,
#output-content .client {
    position: relative;
    padding-bottom: 12px;
}

#output-content h2 {
    height: 23px;
    position: relative;
    font-size: 12px;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

#output-content h2 b {
    font-weight: normal;
}

#output-content .content p,
#output-content .content ul {
    margin: 0;
    padding: 0;
    line-height: 180%;
}

#output-content .content ul {
    list-style: none;
}

/*
    --------------------------------------------------
        服务器返回的消息
    --------------------------------------------------
*/

/*左侧的气泡箭头*/
#output-content .server .content:after {
    content: '';
    position: absolute;
    left: -15px;
    top: 0;
    width: 15px;
    height: 20px;
    background-position: 0 -32px;
}

/*头像*/
#output-content .server h2 a.avatar {
    position: absolute;
    left: 7px;
    top: 0;
}

#output-content .server h2 span.header {
    position: absolute;
    left: 90px;
    top: 0;
    color: #999;
}

/*更多*/

#output-content .server a.more s {
    display: inline-block;
    width: 10px;
    height: 4px;
    background-position: -48px -32px;
    margin-left: 4px;
    vertical-align: middle;
}

/*服务器返回的内容*/
#output-content .server .content {
    margin: 0 78px;
    background: #c2dce5;
    border-radius: 9px;
    padding: 7px 12px;
    border-top-left-radius: 0;
    position: relative;
    word-break: break-all;
}

#output-content .server .content p {
    margin-bottom: 5px;
}

/*
    --------------------------------------
        用户的内容
    --------------------------------------
*/

#output-content .client h2 a.avatar {
    position: absolute;
    right: 7px;
    top: 0;
}

#output-content .client h2 span.header {
    position: absolute;
    right: 90px;
    top: 0;
    color: #999;
}

#output-content .client {
    text-align: right;
}

#output-content .client .content {
    margin: 0 78px;
    background: #d7d7d7;
    border-radius: 9px;
    border-top-right-radius: 0;
    padding: 7px 12px;
    display: inline-block;
    text-align: left;
    position: relative;
    word-break: break-all;
    max-width: 62%;
}

#output-content .client .content:after {
    content: '';
    position: absolute;
    right: -11px;
    top: 0;
    width: 11px;
    height: 15px;
    background-position: -22px -69px;
}

/*
    -----------------------------------
        系统公告
    -----------------------------------
*/
#output-content .notify {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#E5EFF2C2', endColorstr='#E5EFF2C2');
    background: rgba(239, 242, 194, 0.9);
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
    line-height: 180%;
    overflow: hidden;
    position: relative;
}

#output-content .notify .content {
    padding: 6px 14px;
}

#output-content .notify a.close {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 0;
    top: 6px;
    background-position: 0 -170px;
    cursor: pointer;
}

/*
        ---------------------------
            排队的容器
        ---------------------------
*/

#output-content .queue {
    margin: 23px 4px 0 4px;
    border: solid 1px #e1e1e1;
    border-radius: 9px;
    text-align: center;
    padding: 9px 0;
}

#output-content .queue div.title {
    font-size: 20px;
    margin: 0 auto 12px auto;
}

#output-content .queue div.info {
    font-size: 18px;
    margin: 5px auto;
    color: #999;
}

/*
        ---------------------------
            转人工的容器
        ---------------------------
*/
#artificial-service {
    position: absolute;
    background-color: #b0c985;
    left: 0;
    bottom: -9px;
    right: 0;
    padding: 4px 12px;
    z-index: 4;
}

#artificial-service p {
    padding: 0;
    margin: 0;
    line-height: normal;
}

#artificial-service p s {
    display: inline-block;
    vertical-align: middle;
    background-position: 0 -240px;
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

#artificial-service p span.text {
    display: inline-block;
    vertical-align: middle;
}

#artificial-service p a.btn-normal {
    vertical-align: middle;
    margin: 0 8px;
    background-color: #7b8c5d;
    padding: 2px 12px;
}

/*
    ---------------------------------------
        提意见
    ---------------------------------------
*/
#commend-wrapper {
    width: 323px;
    position: absolute;
    left: 50%;
    margin-left: -162px;
    margin-top: -190px;
    top: 50%;
    z-index: 100000;
    background-color: #fff;
    border-radius: 8px;
    font-size: 14px;
}

#commend-wrapper h2 {
    font-size: 18px;
    margin: 24px auto 8px auto;
    text-align: center;
    padding: 0;
    font-weight: normal;
}

#commend-wrapper .hr {
    border-top: solid 1px #ddd;
    width: 239px;
    margin: 0 auto;
}

#commend-wrapper form {
    margin: 0 0 0 43px;
}

#commend-wrapper p {
    margin: 14px auto;
    padding: 0 0;
    line-height: 12px;
}

#commend-wrapper p span.value {
    display: inline-block;
    padding-left: 19px;
    position: relative;
}

#commend-wrapper p span.value s {
    width: 15px;
    height: 13px;
    position: absolute;
    left: 0;
    background-position: 0 -112px;
    margin-right: 5px;
    vertical-align: top;
}

#commend-wrapper span.checkbox {
    display: inline-block;
    width: 0;
    height: 0;
    position: relative;
    overflow: hidden;
}

#commend-wrapper span.text {
    display: block;
    font-size: 12px;
    margin: 10px 0 0 23px;
    line-height: 190%;
    color: #999;
}

#commend-wrapper input.smt {
    background-position: 0 -192px;
    width: 115px;
    height: 34px;
    border: none;
    font-size: 14px;
    font-family: "Microsoft Yahei", sans-serif;
    color: #fff;
}

#commend-wrapper textarea {
    width: 209px;
    height: 51px;
    display: block;
    overflow: auto;
    resize: none;
    margin: 12px 0 0 24px;
    padding: 4px;
}

/*通用遮罩*/
#mask {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#7F000000', endColorstr='#7F000000');
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
    display: none;
}

/*
    -------------------------------------------
        侧边栏
    -------------------------------------------
*/

#sidebar {
    width: 195px;
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
    background: #383c3f url(img/sidebar-bg.jpg);
}

/*快捷菜单*/
#sidebar .shortcut-menu {
    position: absolute;
    width: 100%;
    bottom: 18px;
    left: 0;
}

#sidebar .shortcut-menu ul {
    margin: 0 0 0 30px;
    padding: 0;
}

#sidebar .shortcut-menu ul {
    line-height: 40px;
    font-size: 14px;
}

#sidebar .shortcut-menu a img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 9px;
}

#sidebar .shortcut-menu li.more {
    text-align: right;
    padding-right: 12px;
}

#sidebar .shortcut-menu li.more a {
    color: #999;
}

#sidebar .shortcut-menu a {
    color: #bbb;
}

/*当输入消息过快的时候*/
.system-output {
    border: solid 1px #ccc;
    margin: 12px;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
}

.ui-autocomplete {
    width: 534px;
    font-size: 12px;
}

.ui-autocomplete-item {
    width: auto !important;
}

/*测试使用，会被移除*/
#output-content li {
    cursor: pointer;
}

#output-content li:hover {
    color: #f60;
}

.inputing {
    position: absolute;
    left: 6px;
    bottom: 6px;
    color: #999;
    z-index: 9;
}

/*End*/

::-webkit-scrollbar {
    height: 8px;
    width: 8px
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0
}

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
    display: block
}

::-webkit-scrollbar-button:vertical:start:increment, ::-webkit-scrollbar-button:vertical:end:decrement {
    display: none
}

::-webkit-scrollbar-track:vertical, ::-webkit-scrollbar-track:horizontal, ::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal, ::-webkit-scrollbar-track:vertical, ::-webkit-scrollbar-track:horizontal, ::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
    border-style: solid;
    border-color: transparent
}

::-webkit-scrollbar-track:vertical::-webkit-scrollbar-track:horizontal {
    background-clip: padding-box;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, .2);
    min-height: 28px;
    padding-top: 100px
}

::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25);
    background-color: rgba(0, 0, 0, .4)
}

::-webkit-scrollbar-thumb:active {
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .35);
    background-color: rgba(0, 0, 0, .5)
}

::-webkit-scrollbar-track:vertical, ::-webkit-scrollbar-track:horizontal, ::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
    border-width: 0;
}

::-webkit-scrollbar-track:hover {
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1);
    background-color: rgba(0, 0, 0, .05)
}

::-webkit-scrollbar-track:active {
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px -1px 0 rgba(0, 0, 0, .07);
    background-color: rgba(0, 0, 0, .05)
}
